html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
}
.bg-image {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: 50% 100%;
  background-image: url("./assets/images/1.jpg");
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.bg-move-left {
  animation-name: MOVE-LEFT;
}

.bg-move-right {
  animation-name: MOVE-RIGHT;
}

@keyframes MOVE-LEFT {
  /* from {
    background-position: 50% 100%;
  }
  to {
    background-position: 100% 100%;
  } */
  from {
    background-position-x: 100%;
  }
  to {
    background-position-x: 0;
  }
}

@keyframes MOVE-RIGHT {
  from {
    background-position-x: 50%;
  }
  to {
    background-position-x: 100%;
  }
}
.icon-direction {
  font-size: 80px;
  color: black;
  align-self: center;
  cursor: pointer;
}
.icon-direction--right {
  position: absolute;
  right: 0;
}
.icon-pin {
  position: absolute;
  font-size: 60px;
  color: black;
}
.pin-information {
  position: absolute;
  bottom: 0;
  left: 45%;
  background-color: white;
  width: 10%;
  padding: 10px;
  text-align: center;
}
